<p> This is a free online version of the award-winning and longest-running TV show – Who Wants to Be a Millionaire?. The quiz show has been running for almost two decades. It has produced so many instant millionaires. Today, this free online version is offering everyone the same opportunity to convert knowledge into instant real wealth. </p>

<p> Are you ready to accept the challenge and test your knowledge in aseries of questions and answers? It’s free! You only need to be very alert, think quickly, have fun, and claim your money! So, if you’re ready to become an instant dollar millionaire right now, this is your chance.</p>
  
<p>  The game consists of 15 multiple-choice questions. The difficulty level increases with each question, and so does your potential cash prize. For example, if you answer the first question correctly, your prize increases from $100 to $1000. As you answer the questions correctly, your wealth multiples until you reach the final question. If you answer this question correctly, ONE MILLION DOLLARS will be yours!</p>
  
<p>  Remember, your intelligence and knowledge are key to your future wealth. Think you’ve got what it takes to win? Then accept the challenge! Convert all those random knowledge you’ve gathered over the years into instant million dollars.</p>

